* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: rgba(245, 241, 241, 0.9843137255);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}
.header__logo {
  color: #039aa4;
}
.header__search {
  margin-left: auto;
  position: relative;
}
.header__search input {
  width: 300px;
  padding: 5px;
  border: 2px solid #979797;
  font-size: 16px;
  padding-right: 40px;
  outline: none;
}
.header__search input:hover {
  cursor: pointer;
  border-color: #039aa4;
}
.header__search input:focus {
  border-color: #039aa4;
  background: white;
}
.header__search-img {
  height: 20px;
  position: absolute;
  top: 7px;
  right: 3px;
}

.tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(62, 62, 62);
}
.tab-menu li {
  border-left: 1px solid #979797;
  padding: 8px 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.tab-menu li:first-child {
  margin-left: 20px;
}
.tab-menu li:hover {
  color: #039aa4;
}

.active {
  border-bottom: 3px solid #039aa4;
}

@media (max-width: 750px) {
  .header {
    display: block;
  }
  .header__search {
    margin-top: 10px;
  }
  .header #search {
    display: block;
    margin-left: auto;
  }
}
@media (max-width: 650px) {
  .header {
    margin: 10px;
  }
  .header__logo {
    font-size: 22px;
  }
  .header__search {
    margin-top: 10px;
  }
  .header #search {
    display: block;
    margin-left: auto;
    width: 270px;
    padding: 3px 25px 3px 5px;
    font-size: 15px;
    border: 1px solid #979797;
  }
  .header__search-img {
    height: 17px;
    top: 5px;
    right: 5px;
  }
  .tab-menu li {
    padding: 5px 10px;
  }
}
@media (max-width: 550px) {
  .header #search {
    width: 250px;
    font-size: 14px;
  }
  .header__search-img {
    height: 15px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    font-size: 20px;
  }
  .header #search {
    width: 220px;
  }
  .tab-menu li {
    font-size: 14px;
    padding: 4px 10px;
  }
}
.hourlyWeather__content {
  display: grid;
  grid-template-rows: 1fr auto repeat(4, 1fr);
  grid-template-columns: 1fr;
}
.hourlyWeather__temperature, .hourlyWeather__tempFeel, .hourlyWeather__windDeg {
  border-top: 1px solid #cecbcb;
}
.hourlyWeather__img {
  height: 60px;
  margin: 10px 0;
}

.row {
  display: grid;
  grid-template-columns: minmax(180px, 2fr) repeat(8, 1fr);
  padding: 10px 0;
}

.title {
  padding-left: 20px;
  white-space: nowrap;
}

@media (max-width: 1130px) {
  .hourlyWeather__img {
    height: 50px;
  }
  .row {
    display: grid;
    grid-template-columns: minmax(130px, 2fr) repeat(8, 1fr);
    padding: 10px 0;
  }
}
@media (max-width: 960px) {
  .hourlyWeather__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
  }
  .hourlyWeather__img {
    height: 40px;
  }
  .hourlyWeather__temperature .cell, .hourlyWeather__tempFeel .cell, .hourlyWeather__windDeg .cell {
    justify-self: center;
  }
  .row {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0;
    padding-left: 20px;
    border: none;
  }
  .cell {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .title {
    padding: 0;
    white-space: nowrap;
  }
}
@media (max-width: 750px) {
  .hourlyWeather__titleBlock {
    margin-bottom: 10px;
  }
  .hourlyWeather__img {
    height: 35px;
    margin: 5px 0;
  }
  .row {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .hourlyWeather__img {
    height: 30px;
  }
  .row {
    padding-left: 10px;
  }
}
@media (max-width: 550px) {
  .title {
    height: 40px;
    white-space: wrap;
    line-height: 1.3;
    text-align: center;
  }
  .day,
  .forecast {
    text-align: start;
  }
}
@media (max-width: 480px) {
  .row {
    font-size: 13px;
    padding-left: 5px;
  }
  .hourlyWeather__time {
    padding-left: 0;
  }
  .hourlyWeather__img {
    height: 25px;
  }
}
main {
  background-color: #cecbcb;
  padding: 1px;
}

.informer {
  margin: 20px;
}
.informer__today {
  display: grid;
  gap: 20px;
}

h4 {
  color: #039aa4;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  h4 {
    font-size: 14px;
  }
}

.curWeather,
.hourlyWeather,
.nearby {
  background: rgba(249, 247, 247, 0.9843137255);
  padding: 20px;
}

@media (max-width: 650px) {
  .informer {
    margin: 10px;
  }
  .informer__today {
    gap: 10px;
  }
  .curWeather,
  .hourlyWeather,
  .nearby {
    padding: 10px;
  }
}
.curWeather {
  position: relative;
}
.curWeather__date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #039aa4;
  font-weight: bold;
}
.curWeather__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.curWeather__description {
  font-size: 18px;
  text-align: center;
}
.curWeather__img {
  height: 60px;
}
.curWeather__temperature {
  font-size: 40px;
  line-height: 1.3em;
}
.curWeather__tempFeel {
  font-size: 14px;
  margin-top: 5px;
}
.curWeather__sunInfo {
  line-height: 2em;
}

@media (max-width: 750px) {
  .curWeather__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .curWeather__date {
    font-size: 15px;
  }
  .curWeather__sunInfo {
    font-size: 14px;
    line-height: 1.7;
  }
  .curWeather__img {
    height: 50px;
  }
  .curWeather__description {
    font-size: 16px;
  }
  .curWeather__temperature {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .curWeather__date {
    font-size: 14px;
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 480px) {
  .curWeather__sunInfo {
    font-size: 13px;
    line-height: 1.3;
  }
  .curWeather__img {
    height: 40px;
  }
  .curWeather__description {
    font-size: 14px;
  }
  .curWeather__temperature {
    font-size: 26px;
  }
  .curWeather__tempFeel {
    font-size: 12px;
  }
}
.nearlyPlaces {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.nearlyPlaces__place {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 10px 20px;
  background-color: #ecebeb;
}
.nearlyPlaces__img {
  height: 30px;
}

@media (max-width: 750px) {
  .nearly__title {
    margin-bottom: 10px;
  }
  .nearlyPlaces {
    font-size: 14px;
  }
  .nearlyPlaces__place {
    padding-right: 5px;
  }
  .nearlyPlaces__img {
    height: 25px;
  }
}
@media (max-width: 650px) {
  .nearlyPlaces__place {
    padding-left: 10px;
    padding-right: 0;
  }
}
@media (max-width: 550px) {
  .nearlyPlaces {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .nearlyPlaces__place {
    padding: 5px 0 5px 10px;
  }
}
.weatherForecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  margin-bottom: 20px;
}
.weatherForecast__block {
  background-color: rgba(241, 235, 235, 0.9843137255);
  padding: 20px;
}
.weatherForecast__day {
  margin-bottom: 0;
}
.weatherForecast img {
  display: block;
  height: 70px;
  margin: 20px 0;
}

@media (max-width: 750px) {
  .weatherForecast img {
    height: 60px;
  }
}
@media (max-width: 650px) {
  .weatherForecast {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .weatherForecast__block {
    padding: 10px 0 10px 20px;
  }
  .weatherForecast img {
    height: 50px;
  }
}
@media (max-width: 550px) {
  .weatherForecast__date {
    white-space: nowrap;
  }
  .weatherForecast img {
    height: 40px;
  }
}
@media (max-width: 480px) {
  .weatherForecast__block {
    font-size: 13px;
    padding: 10px;
  }
  .weatherForecast img {
    height: 35px;
  }
}
@media (max-width: 400px) {
  .weatherForecast img {
    height: 30px;
  }
}
.activeBlock {
  background: rgba(251, 250, 250, 0.9843137255);
}

.error {
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #616161;
  text-align: center;
  line-height: 1.3em;
  padding-bottom: 10px;
  background: white;
}
.error__img {
  height: 300px;
}

@media (max-width: 750px) {
  .error__img {
    height: 250px;
  }
  .error__text {
    font-size: 22px;
  }
}
@media (max-width: 550px) {
  .error__text {
    font-size: 20px;
    line-height: 1.2em;
  }
}
@media (max-width: 450px) {
  .error__img {
    height: 220px;
  }
  .error__text {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .error__img {
    height: 180px;
  }
  .error__text {
    font-size: 16px;
  }
}