$titleColor: #039aa4;
$bgColor: #f5f1f1fb;
$bgMainColor: #cecbcb;
// $bgColor: #e1dfdf;
// $bgColor: #eee;

//------------------------------------
// breakpointers (для адаптивности)
// $bp1: 1400px; // или 1366px
// $bp2: 1200px;
// $bp3: 992px;
$bp4: 768px;
// $bp5: 576px;
// $bp6: 414px;

